{% extends 'base.html' %}

{% block header %}
<header>
    <nav class="container container--70">
        {% include 'partial/simple_login.html' with user=user %}
        {% include 'partial/simple_menu.html' %}
    </nav>
</header>
{% endblock header %}

{% block content %}
<section class="login-page">
    <h2>Potwierdź hasło</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.errors }}
            <div class="form-group">
                {{ form }}
        </div>

        <div class="form-group form-group--buttons">
            <button class="btn" type="submit">Resetuj hasło</button>
        </div>
    </form>
</section>
{% endblock %}