{% extends 'base.html' %}


{% block header %}
<header>
    <nav class="container container--70">
        {% include 'partial/simple_login.html' with user=user %}
        {% include 'partial/simple_menu.html' %}
    </nav>
</header>
{% endblock header %}



{% block content %}

<section class="login-page">
    <h2>Zmień hasło</h2>
    <form method="POST">
        {% csrf_token %}
            {% for field in form %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            {% endfor %}
        <div class="form-group">
            <input name="old_password" class="" placeholder="Stare hasło" type="password" id="id_old_password"
                   required="true"><br><br><br>
            <input name="new_password1" class="" placeholder="Nowe hasło" type="password" id="id_new_password1"
                   required="true"><br><br><br>
            <input name="new_password2" class="" placeholder="Potwierdź hasło" type="password" id="id_new_password2"
                   required="true">
        </div>
        <a href="{% url 'password_reset' %}" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>


        <div class="form-group form-group--buttons">
            <button class="btn" type="submit">Wyślij</button>
        </div>
    </form>
</section>




{% endblock %}