{% load static %}

<ul>
    <li><a class="btn btn--without-border active" href="{% url 'home' %}">Start</a></li>
    <li><a class="btn btn--without-border" href="{% url 'home' %}#steps">O co chodzi?</a></li>
    <li><a class="btn btn--without-border" href="{% url 'home' %}#about-us">O nas</a></li>
    <li><a class="btn btn--without-border" href="{% url 'home' %}#help">Fundacje i organizacje</a></li>
    <li><a class="btn btn--without-border" href="{% url 'add-donation' %}">Przekaż dary</a></li>
    <li><a class="btn btn--without-border" href="{% url 'home' %}#contact">Kontakt</a></li>
</ul>
