{% load static %}

{% if user.is_authenticated %}
<ul class="nav--actions">
    <li class="logged-user">
        {% if user.first_name %}
        Witaj {{ user.first_name }}
        {% else %}
        Witaj admin
        {% endif %}
        <ul class="dropdown">
            <li><a href="#">Profil</a></li>
            <li><a href="#">Ustawienia</a></li>
            <li><a href="{% url 'logout' %}">Wyloguj</a></li>
        </ul>
    </li>
</ul>
{% else %}
<ul class="nav--actions">
    <li><a class="btn btn--small btn--without-border" href="{% url 'login' %}">Zaloguj</a></li>
    <li><a class="btn btn--small btn--highlighted" href="{% url 'register' %}">Załóż konto</a></li>
</ul>
{% endif %}