{% extends 'base.html' %}
{% load static %}

{% block header %}
<header>
    <nav class="container container--70">
        {% include 'partial/extended_login.html' with user=user %}
        {% include 'partial/extended_menu.html' %}
    </nav>
</header>
{% endblock header %}


{% block content %}

      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>

{% endblock %}